<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <security>
            <authorization>
                <add accessType="Allow" users="ADMINISTRADOR" roles="ADMINISTRADOR" />
            </authorization>
        </security>
    </system.webServer>
    <location path="ovaula">
    </location>
    <system.net>
        <connectionManagement>
            <add address="186.17.16.36" />
        </connectionManagement>
        <settings>
            <httpWebRequest maximumUnauthorizedUploadLength="2" />
        </settings>
    </system.net>
    <system.web>
        <authentication mode="None">
            <forms path="/inetpub/wwwroot" protection="All">
                <credentials>
                    <user name="ADMINISTRADOR" password="TU.cit@.1290" />
                </credentials>
            </forms>
        </authentication>
        <authorization>
            <allow roles="ADMINISTRADOR" users="ADMINISTRADOR" />
        </authorization>
    </system.web>
</configuration>
