<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="iisstart.htm" />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="true" />
        <security>
            <requestFiltering>
                <hiddenSegments applyToWebDAV="true" />
            </requestFiltering>
        </security>
    </system.webServer>
    <location path="aspnet_client">
    </location>
    <system.web>
        <trust level="Minimal" />
    </system.web>
</configuration>
